{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            {% include 'scrapping/scrapped_data_filter.html' with reset_url='home-page' %}
            <div class="col-xs-12 col-sm12 col-md-9 col-lg-10">
                <div class="row">
                    <div id="plotly-graph"></div>
                    <script>
                        const graph = JSON.parse('{{ graph|escapejs }}');
                        Plotly.newPlot('plotly-graph', [graph]);
                    </script>
                </div>
                <div class="row">
                    {{ plot_time_price_var|safe }}
                </div>
                <div class="row">
                    <div id="plotly-graph-popular-model-by-year"></div>
                    <script>
                        const graph_popular_model_by_year = JSON.parse('{{ graph_popular_model_by_year|escapejs }}');
                        Plotly.newPlot('plotly-graph-popular-model-by-year', graph_popular_model_by_year.data, graph.layout);
                    </script>
                </div>
                <div class="row">
                    <div id="plotly-graph-popular-model"></div>
                    <script>
                        const graph_popular_model = JSON.parse('{{ graph_popular_model|escapejs }}');
                        Plotly.newPlot('plotly-graph-popular-model', graph_popular_model.data, graph.layout);
                    </script>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
