{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="container-fluid py-3">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header">
                    <h3 class="text-center">Login</h3>
                </div>
                <form method="post">
                    {% csrf_token %}
                    <div class="card-body">
                        {{ form.as_p }}
                    </div>
                    <div class="card-footer text-center">
                        <button type="submit" class="btn btn-outline-success">Login</button>
                        <a href="{% url 'password_reset' %}" class="btn btn-outline-danger">Reset Password</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}