{% extends 'registration/password_base.html' %}

{% block title %} Password reset sent {% endblock %}

{% block card_title %}Password reset sent{% endblock %}

{% block card_body %} <p>Password reset sent</p> {% endblock %}

{% block card_footer %}
    <a href="{% url 'home-page' %}" class="btn btn-outline-secondary">Go to home page</a>
{% endblock %}