{% extends 'base.html' %}

{% block title %} {% endblock %}

{% block content %}

    <div class="container-fluid">
        <div class="col-md-6 offset-md-3 py-3">
            <div class="card">
                <div class="card-header">
                    <h3>
                        {% block card_title %} {% endblock %}
                    </h3>
                </div>
                {% block card_body %} {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}