{% extends 'registration/password_base_form.html' %}

{% block title %} Password change {% endblock %}

{% block card_title %}Password change{% endblock %}

{% block card_footer %} <a href="{% url 'home-page' %}" class="btn btn-outline-success">Home page</a> {% endblock %}

{#{% block content %}#}
{#    <div class="content-fluid">#}
{#        <div class="col-md-6 offset-md-3 py-3">#}
{#            <div class="card">#}
{#                <div class="card-header">#}
{#                    <h3>Password change</h3>#}
{#                </div>#}
{#                <div class="card-body text-center">#}
{#                    <h5>Password successfully changed</h5>#}
{#                </div>#}
{#                <div class="card-footer text-center">#}
{#                    <a href="{% url 'home-page' %}" class="btn btn-outline-success">Home page</a>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#{% endblock %}#}