{% extends 'registration/password_base.html' %}

{% block card_body %}
    <form method="post">
        {% csrf_token %}
        <div class="card-body">
            {{ form.as_p }}
        </div>
        <div class="card-footer text-center">
            {% block card_footer %} {% endblock %}
        </div>
    </form>
{% endblock %}