{% extends 'registration/password_base_form.html' %}

{% block title %}Change password{% endblock %}

{% block card_title %}Change password{% endblock %}

{% block card_footer %}
    <button type="submit" class="btn btn-outline-danger">Change Password</button> {% endblock %}

{#{% block content %}#}
{##}
{#    <div class="container-fluid">#}
{#        <div class="col-md-6 offset-md-3">#}
{#            <div class="card">#}
{#                <div class="card-header">#}
{#                    <h3>Change password</h3>#}
{#                </div>#}
{#                <form method="post">#}
{#                    {% csrf_token %}#}
{#                    <div class="card-body">#}
{#                        {{ form.as_p }}#}
{#                    </div>#}
{#                    <div class="card-footer">#}
{#                        <button type="submit" , class="btn btn-outline-danger">Change Password</button>#}
{#                    </div>#}
{#                </form>#}
{##}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#{% endblock %}#}