.progress-bar {
    width: 0;
    color: white;
    font-size: 0.8rem;
    transition: width 0.6s ease;
}

.progress-bar-items {
    background-color: #165C7D;
}

.progress-bar-pages {
    background-color: #369DA0;
}

.progress-bar-elements {
    background-color: #C6DAE7;
    color: #165C7D;
}

.grid {
    column-count: 1;
    column-gap: 1rem;

    @media (min-width: 1024px) {
        column-count: 1;
    }
    @media (min-width: 1200px) {
        column-count: 3;
    }
    @media (min-width: 1400px) {
        column-count: 3;
    }
    @media (min-width: 1800px) {
        column-count: 4;
    }
}

.grid-item{
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 1rem;
}

card-body:hover {
    background-color: #5b80b2;
}