.progress-bar {
    width: 0;
    color: white;
    font-size: 0.8rem;
    transition: width 0.6s ease;
}

.progress-bar-items {
    background-color: #165C7D;
}

.progress-bar-pages {
    background-color: #369DA0;
}

.progress-bar-elements {
    background-color: #C6DAE7;
    color: #165C7D;
}
.grid-item {
    width: 100%;
    @media (min-width: 768px) {
        width: 50%;
    }
    @media (min-width: 992px) {
        width: 33.33%;
    }
    @media (min-width: 1200px) {
        width: 25%;
    }
    margin-bottom: 20px;
}