.progress-bar-items {
    background-color: #165C7D;
}
.progress-bar-pages {
    background-color: #369DA0;
}
.progress-bar-elements {
    background-color: #C6DAE7;
}
.progress-bar {
    transition: width 0.6s ease;
}
