.progress-bar {
    width: 0;
    color: white;
    font-size: 0.8rem;
    transition: width 0.6s ease;
}

.progress-bar-items {
    background-color: #165C7D;
}

.progress-bar-pages {
    background-color: #369DA0;
}

.progress-bar-elements {
    background-color: #C6DAE7;
    color: #165C7D;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 1rem;
}