.progress-bar-items {
    background-color: #165C7D !important;
}
.progress-bar-pages {
    background-color: #369DA0 !important;
}
.progress-bar-elements {
    background-color: #C6DAE7 !important;
}
.progress-bar {
    transition: width 0.6s ease !important;
}
.progress-bar {
    transition: width 0.6s ease !important;
}