.progress-bar {
    width: 0;
    color: white;
    font-size: 0.8rem;
    transition: width 0.6s ease;
}

.progress-bar-items {
    background-color: #165C7D;
}

.progress-bar-pages {
    background-color: #369DA0;
}

.progress-bar-elements {
    background-color: #C6DAE7;
    color: #165C7D;
}

.sold {
    background-color: #993300;
    color: white;
}

.available {
    background-color: cadetblue;
}

.custom-img {
    width: 50%;
    height: 100%;
    object-fit: scale-down;
}

.image-container {
    position: relative;
    width: 50%;
    height: 50%;
    overflow: hidden;
}

.zoom-on-hover {
    display: block;
    width: 100%;
    height: auto;
    transition: transform .5s ease-in-out;
}

.zoom-on-hover:hover {
    background-color: #5b80b2;
    transform: scale(200%);
}

.card.d-flex {
    background-color: #5b80b2;
    cursor: pointer
}