{% extends 'base.html' %}

{% block title %}Select Details{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="col-md-6 offset-md-3 py-3">
            <div class="card">
                <div class="card-header text-center">
                    <h3>Update scrapping params</h3>
                </div>
                <form method="post">
                    {% csrf_token %}
                    <div class="card-body">
                        {{ form.as_p }}
                    </div>
                    <div class="card-footer text-center">
                        <button type="submit" class="btn btn-outline-success">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}