<div class="row d-flex align-items-center p-3">
    <h5 class="d-flex aligned">Price</h5>
    <div class="col-auto d-flex align-items-center px-3">
        <div class="btn-group col-md4" role="group" aria-label="Basic mixed styles example">
            <form action="" method="get">
                <input type="hidden" name="price_avg" value="HIGH">
                {% for key, value in filter_params_preserved.items %}
                    {% if key != "price_avg" %}
                        <input type="hidden" name="{{ key }}" value="{{ value }}">
                    {% endif %}
                {% endfor %}
                <button type="submit" class="btn btn-danger">High</button>

            </form>
            <form action="" method="get">
                <input type="hidden" name="price_avg" value="AVERAGE">
                {% for key, value in filter_params_preserved.items %}
                    {% if key != "price_avg" %}
                        <input type="hidden" name="{{ key }}" value="{{ value }}">
                    {% endif %}
                {% endfor %}
                <button type="submit" class="btn btn-warning">Average</button>
            </form>
            <form action="" method="get">
                <input type="hidden" name="price_avg" value="LOW">
                {% for key, value in filter_params_preserved.items %}
                    {% if key != "price_avg" %}
                        <input type="hidden" name="{{ key }}" value="{{ value }}">
                    {% endif %}
                {% endfor %}
                <button type="submit" class="btn btn-success">Low</button>
            </form>
            <form action="" method="get">
                <input type="hidden" name="price_avg" value="NO_REFERENCE">
                {% for key, value in filter_params_preserved.items %}
                    {% if key != "price_avg" %}
                        <input type="hidden" name="{{ key }}" value="{{ value }}">
                    {% endif %}
                {% endfor %}
                <button type="submit" class="btn btn-secondary">No reference</button>
            </form>
        </div>
    </div>
</div>