{% now "Y-m-d" as current_date %}
<div class="card d-flex h-80" style="cursor: pointer">
    {% if i.avg_price %}
        {% if i.price < i.avg_low %}
            <div class="card-header bg-success"></div>
        {% elif i.avg_price == i.price %}
            <div class="card-header bg-secondary"></div>
        {% elif i.price > i.avg_high %}
            <div class="card-header bg-danger"></div>
        {% elif i.avg_low < i.price and i.avg_high > i.price %}
            <div class="card-header bg-warning"></div>
        {% endif %}
    {% else %}
        <div class="card-header bg-secondary"></div>
    {% endif %}
    <div class="card-header">
        <h5 class="card-title text-center"> {{ i.brand | title }} {{ i.model | upper }}</h5>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-8">
                <p class="card-text">
                    <i class="bi bi-geo-alt"></i>
                    {{ i.location }}
                </p>
            </div>
             <div class="col-4">
                <p class="card-text">
                    <i class="bi bi-calendar3"></i>
                    {{ i.year }}
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-8">
                <p class="card-text">
                    <i class="bi bi-calendar-plus"></i>
                    {{ i.added_date }}
                </p>
            </div>
            <div class="col-4">
                <p class="card-text">
                    <i class="bi bi-cash"></i>
                    {{ i.price|floatformat:'0' }} &euro;
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-8">
                <p class="card-text">
                    <i class="bi bi-map"></i>
                    {{ i.km }}
                </p>
            </div>
            <div class="col-4 ms-auto">
                <p class="card-text">
                    <i class="bi bi-calculator"></i>
                    {{ i.avg_price|floatformat:'0' }} &euro;
                </p>
            </div>
        </div>
        <div class="row mt-2">
            {% if i.image_set.exists %}
                <div id="carouselExampleIndicators{{ i.id }}" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        {% for image in i.image_set.all %}
                            <button type="button" data-bs-target="#carouselExampleIndicators{{ i.id }}"
                                    data-bs-slide-to="{{ forloop.counter0 }}"
                                    class="{% if forloop.first %}active{% endif %}" aria-current="true"
                                    aria-label="Slide {{ forloop.counter }}"></button>
                        {% endfor %}

                    </div>
                    <div class="carousel-inner">
                        {% for image in i.image_set.all %}
                            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                <img src="{{ image.image_url }}" class="d-block w-100"
                                     style="height: 200px; object-fit: cover"
                                     alt="Picture {{ forloop.counter }}">
                            </div>
                        {% endfor %}

                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators{{ i.id }}"
                            data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators{{ i.id }}"
                            data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            {% else %}
                <img class="img-fluid" src="/no_image_available.png" alt="Image missing">
            {% endif %}
        </div>
    </div>
    <div class="card-footer d-flex justify-content-center align-items-center
        {% if i.sold_status == 'sold' %}
            text-danger
        {% else %}
            text-success
        {% endif %}"
         style="color:white; height: 30px"
         onclick="location.href='{{ i.url }}';">

        {% if i.sold_status == 'available' %}
            Available ({{ i.days_available }} days)
        {% else %}
            Sold (in {{ i.days_available }} days)
        {% endif %}
    </div>
</div>