{% extends 'base.html' %}

{% block title %}List of ICE{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row ">
            {% include 'scrapping/scrapped_data_filter.html' with reset_url='list-of-ice-items' %}
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-9 col-xl-10">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-9">
                        {% include 'scrapping/custom_price_avg_btn_group.html' %}
                    </div>
                    <div class="d-none d-xs-block d-md-block col-md-4 col-lg-3 d-flex align-items-center justify-content-end">
                        {% include 'custom_pagination.html' %}
                    </div>
                </div>
                {% if page_obj %}
                    <div class="grid">
                        {% for i in page_obj %}
                            <div class="grid-item g-3">
                                {% include 'scrapping/ice_item_card.html' %}
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <h2 class="col-md-6 offset-md-3 bg-primary-subtle text-center p-3">No items</h2>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}