<div class="d-none d-md-block col-md-4 col-lg-3 col-xl-2 gy-3">
    <div class="card">
        <div class="card-header">
            <h2 class="text-center">Filters</h2>
        </div>
        <form method="get">
            <div class="card-body">
                {{ form_filters.as_p }}
            </div>
            <div class="card-footer text-center">
                <button type="submit" class="btn btn-outline-success m-3">Apply filters</button>
                <a href="{% url reset_url %}" class="btn btn-outline-danger">Reset</a>
            </div>
        </form>
    </div>
</div>