{% extends 'base.html' %}

{% block title %}Create a new user{% endblock %}

{% block content %}

    <div class="container-fluid py-3">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header">
                    <h3 class="text-center">Create a new user</h3>
                </div>
                <form method="post">
                    {% csrf_token %}
                    <div class="card-body">
                        {{ form.as_p }}
                    </div>
                    <div class="card-footer text-center">
                        <button type="submit" class="btn btn-outlined-success">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}