{% if page_obj.paginator.num_pages > 1 %}
    <div class="d-flex align-items-center justify-content-center p-3">
        <div class="pagination">
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-center align-items-center">
                    <span class="current ">Page {{ page_obj.number }}</span>
                    <span class="badge bg-primary rounded-pill mx-3">{{ page_obj.paginator.num_pages }}</span>
                </li>
                <li class="list-group-item d-flex justify-content between align-items-center">
                    <span class="step-links">
                        {% if page_obj.has_previous %}
                            <a href="?page=1" class="p-3">
                                <i class="bi bi-chevron-double-left"></i>
                            </a>
                            <a href="?{{ filter_params_preserved.urlencode }}&page={{ page_obj.previous_page_number }}" class="p-3">
                                <i class="bi bi-chevron-left"></i>
                            </a>
                        {% endif %}
                        {% if page_obj.has_next %}
                            <a href="?{{ filter_params_preserved.urlencode }}&page={{ page_obj.next_page_number }}"
                               class="p-3">
                                <i class="bi bi-chevron-right"></i>
                            </a>
                            <a href="?{{ filter_params_preserved.urlencode }}&page={{ page_obj.paginator.num_pages }}"
                               class="p-3">
                                <i class="bi bi-chevron-double-right"></i>
                            </a>
                        {% endif %}
                    </span>
                </li>
            </ul>
        </div>
    </div>
{% endif %}