{% load static %}
<div class="align-items-center px-2">
    <div class="progress g-3" style="height: 24px;">
        <div id="progress-bar-items" class="progress-bar progress-bar-items" role="progressbar"
             aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
        <div id="progress-bar-pages" class="progress-bar progress-bar-pages" role="progressbar"
             aria-valuenow="0"  aria-valuemin="0" aria-valuemax="100"></div>
        <div id="progress-bar-elements" class="progress-bar progress-bar-elements " role="progressbar"
              aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
</div>


<script>
    window.onload = function () {
        const ws_scheme = window.location.protocol === "https:" ? "wss://" : "ws://";
        const socket = new WebSocket(ws_scheme + window.location.host + '/ws/progress/');

        socket.onopen = function (e) {
            console.log('WebSocket connection opened');
            socket.send(JSON.stringify({ 'task_id': '{{ task_id }}' }));
        };

        socket.onmessage = function (e) {
            console.log('Message received:', e.data);
            const data = JSON.parse(e.data);
            const progress = data.progress;
            const description = data.description;
            const source = data.source;

            let progressBarId;
            if (source === 'progress_ice_item') {
                progressBarId = 'progress-bar-items';
            } else if (source === 'progress_page') {
                progressBarId = 'progress-bar-pages';
            } else if (source === 'progress_page_elements') {
                progressBarId = 'progress-bar-elements';
            } else {
                console.error("Unknown source:", source);
                return;
            }
            const progressBar = document.getElementById(progressBarId);
            progressBar.style.width = 10 + progress / 3 + '%';
            progressBar.setAttribute('aria-valuenow', progress);
            progressBar.textContent = description;
        }

        socket.onerror = function (e) {
            console.error('Websocket error', e);
        };

        socket.onclose = function (e) {
            console.error('Websocket closed unexpectedly');
        };
    }

</script>



